<ion-header>
  <ion-toolbar>
    <ion-title>Place Request</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-icon name="locate" color="dark" slot="start"></ion-icon>
      <ion-label>City</ion-label>
      <ion-select [(ngModel)]="order.city">
        <ion-select-option value="Dallas">Dallas</ion-select-option>
        <ion-select-option value="Arlington">Arlington</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="construct" color="warning" slot="start"></ion-icon>
      <ion-label>Service</ion-label>
      <ion-select [(ngModel)]="order.serviceType">
        <ion-select-option value="Appliances">Appliances</ion-select-option>
        <ion-select-option value="Electrical">Electrical</ion-select-option>
        <ion-select-option value="Plumbing">Plumbing</ion-select-option>
        <ion-select-option value="Home Cleaning">Home Cleaning</ion-select-option>
        <ion-select-option value="Tutoring">Tutoring</ion-select-option>
        <ion-select-option value="Packaging and Moving">Packaging and Moving</ion-select-option>
        <ion-select-option value="Computer Repair">Computer Repair</ion-select-option>
        <ion-select-option value="Home Repair and Painting">Home Repair and Painting</ion-select-option>
        <ion-select-option value="PestControl">PestControl</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="danger" slot="start"></ion-icon>
      <ion-label>Start Date:</ion-label>
      <ion-datetime [(ngModel)]="order.dateStart" display-format="MMM DD YYYY" picker-format="MMM DD YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="danger" slot="start"></ion-icon>
      <ion-label>End Date:</ion-label>
      <ion-datetime [(ngModel)]="order.dateEnd" display-format="MMM DD YYYY" picker-format="MMM DD YYYY"></ion-datetime>
    </ion-item>
    <ion-item (click)="toAddressChoose()">
      <ion-icon name="pin" color="tertiary" slot="start"></ion-icon>
      <div *ngIf="address == null || address.address == null || address.address == ''">
        <ion-text style="color: gray">Please choose a address</ion-text>
      </div>
      <div *ngIf="address != null && address.address != null && address.address != ''">
        <ion-text>{{address.address}}, {{address.zipCode}}</ion-text>
      </div>
      <ion-icon name="arrow-forward" color="medium" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <p></p>
    <ion-button (click)="placeRequest()">Place Request</ion-button>
  </div>
</ion-content>
