h1{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

h2{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

p{
  text-indent: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

ul{
  margin-left: 5%;
  margin-right: 5%;
}

a{
  color: blue;
}

