<ion-header>
  <ion-toolbar>
    <ion-title>Service Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{service.type}}</ion-card-subtitle>
      <ion-card-title>Vendor: {{service.username}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>price: ${{service.price}}/day</p>
      <p>city: {{service.city}}</p>
      <p>star: {{service.starStr}}</p>
      <p>phone: {{service.phone}}</p>
      <p>email: {{service.email}}</p>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-button (click)="toSetOrder(service)">Set Order</ion-button>
  </div>


  <ion-title class="ion-text-center"><p>Reviews</p></ion-title>
  <ion-list>
    <div *ngFor="let review of reviewList">
      <ion-item text-wrap>
        <ion-label><p>star: {{review.starStr}}</p></ion-label>
        <ion-label text-wrap><p>{{review.content}}</p></ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
