<ion-header>
  <ion-toolbar>
    <ion-title>Service Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{service.type}}</ion-card-subtitle>
      <ion-card-title>Vendor: {{service.username}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col [size]="3">price:</ion-col>
          <ion-col>${{service.price}}/day</ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="3">city:</ion-col>
          <ion-col>{{service.city}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="3">phone:</ion-col>
          <ion-col>{{service.phone}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="3">email:</ion-col>
          <ion-col>{{service.email}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="3">star:</ion-col>
          <ion-col><ionic4-star-rating #rating
                                       activeColor = "orange"
                                       readonly = "true"
                                       fontSize="small"
                                       [(ngModel)]="service.star">
          </ionic4-star-rating>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-button (click)="toSetOrder(service)">Set Order</ion-button>
  </div>


  <ion-title class="ion-text-center"><p>Reviews</p></ion-title>
  <ion-list>
    <div *ngFor="let review of reviewList">
      <ion-item text-wrap>
        <ion-grid>
          <ion-row>
            <ion-col [size]="2">
              star:
            </ion-col>
            <ion-col [size]="3">
              <ionic4-star-rating #rating
                                  activeColor = "orange"
                                  readonly = "true"
                                  fontSize="small"
                                  [(ngModel)]="review.star">
              </ionic4-star-rating>
            </ion-col>
            <ion-col>
              {{review.createTime | date: 'MMM dd yyyy HH:mm:ss'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [size]="2">
              review:
            </ion-col>
            <ion-col>
              {{review.content}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
