<ion-header>
  <ion-toolbar>
    <ion-title>Order Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{service.type}}</ion-card-subtitle>
      <ion-card-title>Vendor: {{service.username}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>price: ${{service.price}}/day</p>
      <p>city: {{service.city}}</p>
      <p>star: {{service.starStr}}</p>
      <p>phone: {{service.phone}}</p>
      <p>email: {{service.email}}</p>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">Start time</ion-label>
    <ion-datetime [(ngModel)]="order.dateStart" display-format="MMM DD YYYY" readonly="true"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">End time</ion-label>
    <ion-datetime [(ngModel)]="order.dateEnd" display-format="MMM DD YYYY" readonly="true"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">Address</ion-label>
    <ion-input [(ngModel)]="order.address" readonly="true"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">Your name</ion-label>
    <ion-input [(ngModel)]="constant.getUser().username" readonly="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">Your phone</ion-label>
    <ion-input [(ngModel)]="constant.getUser().phone" readonly="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-title>
      <div *ngIf="constant.getUser() != null && constant.getUser().id != null && constant.getUser().id != '' && constant.getUser().role != 'GUEST'">
        <ion-text style="font-size: x-large">
          Total: ${{order.costOff}}
        </ion-text>
        <ion-text style="font-size: small">
          (20%OFF)
        </ion-text>
      </div>
      <div *ngIf="constant.getUser() == null || constant.getUser().id == null || constant.getUser().id == '' || constant.getUser().role == 'GUEST'">
        <ion-text style="font-size: x-large">
          Total: ${{order.costNoOff}}
        </ion-text>
        <ion-text style="font-size: small">
          (No Discount)
        </ion-text>
      </div>
    </ion-title>
  </ion-item>
</ion-content>
