<ion-header>
  <ion-toolbar>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let order of orderList">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>OrderNo: {{order.id}}, Create time: {{order.createTime | date:'MMM dd yyyy HH:mm:ss'}}</ion-card-subtitle>
        <ion-card-title>{{order.serviceType}}  ({{order.status}})</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col [size]="4">Price: </ion-col>
            <ion-col>${{order.price}}/day</ion-col>
          </ion-row>
          <ion-row>
            <ion-col [size]="4">Total: </ion-col>
            <ion-col>
              <div *ngIf="order.costOff != null && order.costOff != ''">
                <p>${{order.costOff}} (20% off)</p>
              </div>
              <div *ngIf="order.costNoOff != null && order.costNoOff != ''">
                <p>${{order.costNoOff}} (No Discount)</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [size]="4">
              Vendor Name:
            </ion-col>
            <ion-col>{{order.vendorName}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col [size]="4">
              Vendor Phone:
            </ion-col>
            <ion-col>{{order.vendorPhone}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col [size]="4">
              Address:
            </ion-col>
            <ion-col>{{order.address}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col [size]="4">
              Time:
            </ion-col>
            <ion-col>{{order.dateStart | date:'MMM dd yyyy'}} - {{order.dateEnd | date: 'MMM dd yyyy'}}</ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="order.status == 'NOT_ACCEPTED'">
          <ion-button (click)="updateOrder(order)">update</ion-button>
          <ion-button (click)="cancelOrder(order)">cancel</ion-button>
        </div>
        <div *ngIf="order.status == 'FINISHED'">
          <ion-button (click)="reviewOrder(order)">review</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
