<ion-header>
  <ion-toolbar>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let order of orderList">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{order.serviceType}}</ion-card-subtitle>
        <ion-card-title>{{order.status}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>address: {{order.address}}</p>
        <p>start time: {{order.dateStart | date:'MMM dd yyyy'}}</p>
        <p>end time: {{order.dateEnd | date: 'MMM dd yyyy'}}</p>
      </ion-card-content>

      <ion-button (click)="updateOrder(order)">update</ion-button>
      <ion-button (click)="cancelOrder(order.id)">cancel</ion-button>
    </ion-card>
  </div>
</ion-content>
