<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-col>
      <ion-button (click)="login()">log in</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="jumpToSignup()">sign up</ion-button>
    </ion-col>
  </div>
</ion-content>
