<ion-header>
  <ion-toolbar>
    <ion-title>Set Order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="construct" color="danger"></ion-icon>
        <ion-text>　{{service.type}}</ion-text>
      </ion-card-subtitle>
      <ion-card-title>Vendor: {{service.username}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col [size]="1">
            <ion-icon name="card" color="warning"></ion-icon>
          </ion-col>
          <ion-col [size]="4">
            Price:
          </ion-col>
          <ion-col>
            ${{service.price}}/day
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="1">
            <ion-icon name="pin" color="tertiary"></ion-icon>
          </ion-col>
          <ion-col [size]="4">
            City:
          </ion-col>
          <ion-col>
            {{service.city}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="1">
            <ion-icon name="call" color="primary"></ion-icon>
          </ion-col>
          <ion-col [size]="4">
            Phone:
          </ion-col>
          <ion-col>
            {{service.phone}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="1">
            <ion-icon name="mail" color="danger"></ion-icon>
          </ion-col>
          <ion-col [size]="4">
            Email:
          </ion-col>
          <ion-col>
            {{service.email}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="1">
            <ion-icon name="clipboard" color="success"></ion-icon>
          </ion-col>
          <ion-col [size]="4">
            Order Total:
          </ion-col>
          <ion-col>
            {{service.orderTotal}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="1">
            <ion-icon name="star" color="secondary"></ion-icon>
          </ion-col>
          <ion-col [size]="4">
            Star:
          </ion-col>
          <ion-col>
            <ionic4-star-rating #rating activeColor = "orange" readonly = "true" fontSize="small" [(ngModel)]="service.star"></ionic4-star-rating>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-list lines="full">
    <ion-item>
      <ion-icon name="calendar" color="danger" slot="start"></ion-icon>
      <ion-label>Start Date:</ion-label>
      <ion-datetime [(ngModel)]="order.dateStart" (ionChange)="getCost()" display-format="MMM DD YYYY" picker-format="MMM DD YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" color="danger" slot="start"></ion-icon>
      <ion-label>End Date:</ion-label>
      <ion-datetime [(ngModel)]="order.dateEnd" (ionChange)="getCost()" display-format="MMM DD YYYY" picker-format="MMM DD YYYY"></ion-datetime>
    </ion-item>
    <ion-item (click)="toAddressChoose()">
      <ion-icon name="pin" color="tertiary" slot="start"></ion-icon>
      <div *ngIf="address == null || address.address == null || address.address == ''">
        <ion-text style="color: gray">Please choose a address</ion-text>
      </div>
      <div *ngIf="address != null && address.address != null && address.address != ''">
        <ion-text>{{address.address}}, {{address.zipCode}}</ion-text>
      </div>
      <ion-icon name="arrow-forward" color="medium" slot="end"></ion-icon>
    </ion-item>
    <div *ngIf="constant.getUser() == null || constant.getUser().id==null ||
      constant.getUser().id=='' || constant.getUser().role=='GUEST'">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-text>
                If you sign in, you will get 20% off discounts
                and get 10 points when you place the
                order successfully.
              </ion-text>
            </ion-col>
            <ion-col size="3">
              <ion-text color="primary" (click)="singup()">sign in</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>

  <ion-title>
    <p></p>
    <div *ngIf="constant.getUser() != null && constant.getUser().id != null && constant.getUser().id != '' && constant.getUser().role != 'GUEST'">
      <ion-text style="font-size: x-large">
        Total: ${{order.costOff}}
      </ion-text>
      <ion-text style="font-size: small">
        (20%OFF)
      </ion-text>
    </div>
    <div *ngIf="constant.getUser() == null || constant.getUser().id == null || constant.getUser().id == '' || constant.getUser().role == 'GUEST'">
      <ion-text style="font-size: x-large">
        Total: ${{order.costNoOff}}
      </ion-text>
      <ion-text style="font-size: small">
        (No Discount)
      </ion-text>
    </div>
  </ion-title>
  <div class="ion-text-center">
    <p></p>
    <ion-button (click)="checkOut()">Check out</ion-button>
  </div>
</ion-content>
