<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>setting</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->

<!--</ion-content>-->

<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="sounds()">
      <ion-label>Sound on/off</ion-label>
      <ion-toggle slot="start" name="blueberry" checked></ion-toggle>
    </ion-item>
<!--    <ion-item (click)="setting()">-->
    <ion-item (click)="sounds()">
      <ion-label>Receive recommendation yes/no</ion-label>
      <ion-toggle slot="start" name="apple" color="secondary" checked></ion-toggle>
    </ion-item>


  </ion-list>

</ion-content>
