<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="sounds()">
      <ion-label>Vibration on/off</ion-label>
      <ion-toggle [(ngModel)]="setting.vibration" slot="start" color="primary" (ionChange)="settingChange()" ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Notification on/off</ion-label>
      <ion-toggle [(ngModel)]="setting.notification" slot="start" color="secondary" (ionChange)="settingChange()" ></ion-toggle>
    </ion-item>


  </ion-list>

</ion-content>
