<ion-header>
  <ion-toolbar>
    <ion-title>Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <div *ngIf="constant.getUser() == null || constant.getUser().id==null ||
      constant.getUser().id=='' || constant.getUser().role=='GUEST'">
          <ion-item (click)="login()">
              Login/Sign up
          </ion-item>
      </div>
      <div *ngIf="constant.getUser() != null && constant.getUser().id!=null && constant.getUser().id!='' && constant.getUser().role=='USER'">
          <ion-item (click)="personalInfo()">
              <ion-row style="width: 100%">
                  <ion-col size="9">
                      {{constant.getUser().username}}'s profile
                  </ion-col>
                  <ion-col text-end>
                      >>
                  </ion-col>
              </ion-row>
          </ion-item>
      </div>
      <ion-item (click)="point()">
        Points
      </ion-item>
      <ion-item (click)="myorder()">
        My Orders
      </ion-item>
      <ion-item (click)="vendorOrder()">
        I am a service vendor
      </ion-item>
      <ion-item (click)="setting()">
        Settings
      </ion-item>
    <br/><br/>
      <div *ngIf="constant.getUser() != null && constant.getUser().id!=null && constant.getUser().id!='' && constant.getUser().role=='USER'" text-center (click)="logout()">
          <ion-button>LOGOUT</ion-button>
      </div>
  </ion-list>
</ion-content>
