<ion-header>
  <ion-toolbar>
    <ion-title>Introduction</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title  class="ion-text-center" style="font-size: x-large;font-weight: bold" color="primary">Introduction</ion-card-title>
    <br>
    <img src="assets/img/intro.png" />
    <br>
    <ion-item>
      <ion-label style="font-size: x-large;font-weight: bold">What is Serve Me?</ion-label>
    </ion-item>
    <ion-card-content>
      Hello everyone, out app can help users initiate “service request” for their home or small business.
      This will help users (i.e. customers that require service) to be put in contact with service providers.
    </ion-card-content>
  </ion-card>
</ion-content>
