<ion-header>
  <ion-toolbar>
    <ion-title>point</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-title class="ion-text-center"><p>Points: {{pointTotal}}</p></ion-title>
  <ion-list>
    <div *ngFor="let point of pointList">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-left">
              {{point.reason}}
            </ion-col>
            <ion-col class="ion-text-end">
              <div *ngIf="point.point >= 0">
                +{{point.point}}
              </div>
              <div *ngIf="point.point < 0">
                 {{point.point}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
