<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  <form>-->
  <!--    <ion-list>-->
  <!--      <ion-item>-->
  <!--        <ion-label position="stacked" color="primary">Username</ion-label>-->
  <!--      </ion-item>-->
  <!--    </ion-list>-->
  <!--  </form>-->
  <ion-list>
    <ion-item (click)="UsernameRuleShow()">
      <!-- <ion-label position="stacked">Username</ion-label> -->
      <ion-icon name="person" color="primary" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.username" placeholder="Username"></ion-input>
    </ion-item>
    <div *ngIf="showUsernameRule == true">
      <ion-grid>
        <ion-row>
          <ion-col [size]="1" style="text-align: center;color: red;font-size: larger">
            *
          </ion-col>
          <ion-col>
            <ion-text style="color: gray">● 5-20 characters</ion-text>
            <br>
            <ion-text style="color: gray">● only support alphabet and number</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item (click)="PasswordRuleShow()">
      <!-- <ion-label position="stacked">Password</ion-label> -->
      <ion-icon name="key" color="danger" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.password" type="password" placeholder="Password" id="password"></ion-input>
      <ion-icon name="eye" color="medium" (click)="showPasswordOrNot()" id="passwordEye"></ion-icon>
    </ion-item>
    <div *ngIf="showPasswordRule == true">
      <ion-grid>
        <ion-row>
          <ion-col [size]="1" style="text-align: center;color: red;font-size: larger">
            *
          </ion-col>
          <ion-col>
            <ion-text style="color: gray">● 6-20 characters </ion-text>
            <br>
            <ion-text style="color: gray">● at least one lowercase and one uppercase </ion-text>
            <br>
            <ion-text style="color: gray">● at least one number</ion-text>
            <br>
            <ion-text style="color: gray">● at least one special character</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item (click)="ruleClose()">
      <!-- <ion-label position="stacked">Repeat Password</ion-label> -->
      <ion-icon name="key" color="danger" slot="start"></ion-icon>
      <ion-input [(ngModel)]="repeatPassword" type="password" placeholder="Repeat password" id="repeatPassword"></ion-input>
    </ion-item>
    <ion-item (click)="ruleClose()">
      <!-- <ion-label position="stacked">Email</ion-label> -->
      <ion-icon name="mail" color="tertiary" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.email" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item (click)="ruleClose()">
      <!--      <ion-label position="stacked">Phone</ion-label>-->
      <ion-icon name="call" color="tertiary" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.phone" placeholder="Telephone"></ion-input>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col [size]="2" style="text-align: center;align-self:center">
        <ion-checkbox [(ngModel)]="privacyAgree"></ion-checkbox>
      </ion-col>
      <ion-col (click)="toPrivacy()">
        I agree the privacy.
        <ion-text color="primary">privacy</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center">
    <ion-button (click)="signup()">SUBMIT</ion-button>
  </div>





  <!--  <form #signupForm="ngForm" novalidate>-->
  <!--    <ion-list lines="none">-->
  <!--      <ion-item>-->
  <!--        <ion-label position="stacked" color="primary">Username</ion-label>-->
  <!--        <ion-input [(ngModel)]="user.username" name="username" type="text" #username="ngModel" required>-->
  <!--        </ion-input>-->
  <!--      </ion-item>-->
  <!--      <ion-text color="danger">-->
  <!--        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">-->
  <!--          Username is required-->
  <!--        </p>-->
  <!--      </ion-text>-->

  <!--      <ion-item>-->
  <!--        <ion-label position="stacked" color="primary">Password</ion-label>-->
  <!--        <ion-input [(ngModel)]="user.password" name="password" type="password" #password="ngModel" required>-->
  <!--        </ion-input>-->
  <!--      </ion-item>-->
  <!--      <ion-text color="danger">-->
  <!--        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">-->
  <!--          Password is required-->
  <!--        </p>-->
  <!--      </ion-text>-->

  <!--      <ion-item>-->
  <!--        <ion-label position="stacked" color="primary">Email</ion-label>-->
  <!--        <ion-input [(ngModel)]="user.email" name="email" type="email" #email="ngModel" required>-->
  <!--        </ion-input>-->
  <!--      </ion-item>-->
  <!--      <ion-text color="danger">-->
  <!--        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">-->
  <!--          Email is required-->
  <!--        </p>-->
  <!--      </ion-text>-->

  <!--      <ion-item>-->
  <!--        <ion-label position="stacked" color="primary">Phone</ion-label>-->
  <!--        <ion-input [(ngModel)]="user.password" name="phone" type="phone" #password="ngModel" required>-->
  <!--        </ion-input>-->
  <!--      </ion-item>-->
  <!--      <ion-text color="danger">-->
  <!--        <p [hidden]="phone.valid || submitted == false" class="ion-padding-start">-->
  <!--          Phone number is required-->
  <!--        </p>-->
  <!--      </ion-text>-->
  <!--    </ion-list>-->

  <!--    <div class="ion-padding">-->
  <!--      <ion-button (click)="onSignup(signupForm)" type="submit" expand="block">Sign up</ion-button>-->
  <!--    </div>-->
  <!--  </form>-->

</ion-content>
