
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
          pullingIcon="arrow-dropdown"
          refreshingSpinner="circles">
  </ion-refresher-content>
</ion-refresher>
<br>
<br>
<ion-searchbar [(ngModel)]="searchValue" showCancelButton="focus" placeholder="id, customer, address, service"></ion-searchbar>
<ion-segment>
  <ion-segment-button>
    <ion-select [(ngModel)]="orderDate">
      <ion-select-option value="">All TIME</ion-select-option>
      <ion-select-option value="3">Last 3 days</ion-select-option>
      <ion-select-option value="7">Last 7 days</ion-select-option>
      <ion-select-option value="30">Last 30 days</ion-select-option>
      <ion-select-option value="365">Last 1 year</ion-select-option>
    </ion-select>
  </ion-segment-button>
  <ion-segment-button>
    <ion-select [(ngModel)]="orderStatus" (ionChange)="orderStatusChange()">
      <ion-select-option value="">All STATUS</ion-select-option>
      <ion-select-option value="BIDDING">BIDDING</ion-select-option>
      <ion-select-option value="NOT_STARTED">NOT_STARTED</ion-select-option>
      <ion-select-option value="PROCESSING">PROCESSING</ion-select-option>
      <ion-select-option value="FINISHED">FINISHED</ion-select-option>
      <ion-select-option value="REVIEWED">REVIEWED</ion-select-option>
      <ion-select-option value="CANCELED">CANCELED</ion-select-option>
    </ion-select>
  </ion-segment-button>
  <div *ngIf="orderStatus == 'REVIEWED'">
    <ion-segment-button>
      <ionic4-star-rating #rating activeColor = "orange" readonly = "false" rating = "5" fontSize="medium" [(ngModel)]="orderReviewStar"></ionic4-star-rating>
    </ion-segment-button>
  </div>
</ion-segment>

<div *ngFor="let order of orderList">
  <div *ngIf="order.id == searchValue || order.customerName.toLowerCase().match(searchValue.toLowerCase())
  || order.address.toLowerCase().match(searchValue.toLowerCase())
  || order.serviceType.toLowerCase().match(searchValue.toLowerCase())
  || searchValue == null || searchValue == ''">
    <div *ngIf="calOrderDate(order.createTime) || orderDate == null || orderDate == ''">
      <div *ngIf="order.status.match(orderStatus) || orderStatus == null || orderStatus == ''">
        <div *ngIf="order.star == orderReviewStar || orderReviewStar == null || orderReviewStar == ''">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon name="wallet" color="danger"></ion-icon>
                <ion-text>　OrderNo: {{order.id}}, {{order.createTime | date:'MMM dd yyyy HH:mm:ss'}}</ion-text>
              </ion-card-subtitle>
              <ion-card-title>{{order.serviceType}}  ({{order.status}})</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div (click)="toOrderDetail(order)">
                <ion-grid>
                  <div *ngIf="order.vendorName != null && order.vendorName != ''">
                    <ion-row>
                      <ion-col [size]="1">
                        <ion-icon name="person" color="primary"></ion-icon>
                      </ion-col>
                      <ion-col [size]="3">
                        <ion-label>Vendor:</ion-label>
                      </ion-col>
                      <ion-col>
                        <ion-text>{{order.vendorName}}</ion-text>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col [size]="1">
                        <ion-icon name="call" color="dark"></ion-icon>
                      </ion-col>
                      <ion-col [size]="3">
                        <ion-label>V-Phone:</ion-label>
                      </ion-col>
                      <ion-col>
                        <ion-text>{{order.vendorPhone}}</ion-text>
                      </ion-col>
                    </ion-row>
                  </div>
                  <ion-row>
                    <ion-col [size]="1">
                      <ion-icon name="pin" color="tertiary"></ion-icon>
                    </ion-col>
                    <ion-col [size]="3">
                      <ion-label>Address:</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-text>{{order.address}}</ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col [size]="1">
                      <ion-icon name="calendar" color="danger"></ion-icon>
                    </ion-col>
                    <ion-col [size]="3">
                      <ion-label>Time:</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-text>{{order.dateStart | date:'MMM dd'}} - {{order.dateEnd | date: 'MMM dd'}}</ion-text>
                    </ion-col>
                  </ion-row>
                  <div *ngIf="order.status === 'REVIEWED'">
                    <ion-row>
                      <ion-col [size]="1">
                        <ion-icon name="star" color="secondary"></ion-icon>
                      </ion-col>
                      <ion-col [size]="3">
                        <ion-label>Star:</ion-label>
                      </ion-col>
                      <ion-col>
                        <ionic4-star-rating #rating activeColor = "orange" readonly = "true" fontSize="small" [(ngModel)]="order.star"></ionic4-star-rating>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-grid>
              </div>
              <div *ngIf="order.status == 'NOT_STARTED' || order.status == 'BIDDING'">
                <ion-button (click)="updateOrder(order)" color="primary">update</ion-button>
                <ion-button (click)="cancelOrder(order)" color="danger">cancel</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</div>
