<ion-header>
  <ion-toolbar>
    <ion-title>Personal Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input [(ngModel)]="this.user.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="this.user.password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="this.user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input [(ngModel)]="this.user.phone"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <p><ion-button (click)="update()">SUBMIT</ion-button></p>
  </div>

</ion-content>
