<ion-header>
  <ion-toolbar>
    <ion-title>orderUpdate</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{service.type}}</ion-card-subtitle>
      <ion-card-title>Vendor: {{service.username}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>price: ${{service.price}}/day</p>
      <p>city: {{service.city}}</p>
      <p>star: {{service.starStr}}</p>
      <p>phone: {{service.phone}}</p>
      <p>email: {{service.email}}</p>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">Choose your start time</ion-label>
    <ion-datetime [(ngModel)]="order.dateStart" (ionChange)="getCost()" display-format="MMM DD YYYY" picker-format="MMM DD YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">Choose your end time</ion-label>
    <ion-datetime [(ngModel)]="order.dateEnd" (ionChange)="getCost()" display-format="MMM DD YYYY" picker-format="MMM DD YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">Set a address</ion-label>
    <ion-input [(ngModel)]="order.address"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">Your name</ion-label>
    <ion-input [(ngModel)]="constant.getUser().username" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="font-size: larger">Your phone</ion-label>
    <ion-input [(ngModel)]="constant.getUser().phone" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-title>
      <div *ngIf="order.costOff != null && order.costOff != ''">
        <ion-text style="font-size: x-large">
          Total: ${{order.costOff}}
        </ion-text>
        <ion-text style="font-size: small">
          (20%OFF)
        </ion-text>
      </div>
      <div *ngIf="order.costNoOff != null && order.costNoOff != ''">
        <ion-text style="font-size: x-large">
          Total: ${{order.costNoOff}}
        </ion-text>
        <ion-text style="font-size: small">
          (No Discount)
        </ion-text>
      </div>
    </ion-title>
  </ion-item>

  <div class="ion-text-center">
    <ion-button (click)="updateOrder()">update</ion-button>
  </div>

</ion-content>
