<ion-header>
  <ion-toolbar>
    <ion-title>Serve me</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title  class="ion-text-center" style="font-size: x-large;font-weight: bold" color="primary"> Welcome to join us</ion-card-title>

    <img src="assets/img/joinus4.png" />
<!--    <ion-slide>-->
<!--      <ion-img src="assets/img/joinus3.png"></ion-img>-->
<!--    </ion-slide>-->
<!--    <ion-img src="assets/img/madison.jpg"></ion-img>-->
    <ion-item>
      <ion-label style="font-size: x-large;font-weight: bold">Our app users</ion-label>
      <ion-badge style="font-size: x-large;font-weight: bold" color="warning" slot="end">70</ion-badge>
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle style="font-size: x-large;font-weight: bold" >service concept</ion-card-subtitle>
      <ion-card-title >Arlington</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The purpose of our software design is to make it easier for users to find service personnel, and to better promote their services.
    </ion-card-content>
  </ion-card>




<!--  <ion-title class="ion-text-center" style="font-size: x-large;font-weight: bold"><p>Welcome to Join us</p></ion-title>-->

<!--  <ion-slide>-->
<!--&lt;!&ndash;    <ion-img src="assets/img/Introduction.png"></ion-img>&ndash;&gt;-->
<!--    <ion-img src="assets/img/joinus3.png"></ion-img>-->

<!--&lt;!&ndash;    <ion-img src="assets/img/joinus4.png"></ion-img>&ndash;&gt;-->

<!--  </ion-slide>-->

<!--  <ion-label>什么</ion-label>-->
<!--</ion-content>-->


