ion-item{
  font-size: large;
}

ion-button {
  margin-top: 3%;
  margin-bottom: 3%;
}

.helpContent {
  margin: 3%;
  font-style: italic;
  color: gray;
}

.separatorTitle {
  text-align: center;
  font-style: italic;
  color: black;
}
